# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage / profiling
*.out
coverage.*
*.prof
*.pprof

# Go workspace / vendoring
vendor/

# Built project binaries
gophermart
gophermart.exe
accrual
accrual.exe

cmd/gophermart/gophermart
cmd/gophermart/gophermart.exe
cmd/gophermart/main
cmd/gophermart/main.exe

cmd/accrual/accrual
cmd/accrual/accrual.exe
cmd/accrual/accrual_windows_amd64.exe
cmd/accrual/accrual_linux_amd64

# Test artifacts
test.*
*.log

# Local env files
.env
.env.*
*.local

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db